/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 235 66% 14%;
    --foreground: 0 0% 98%;
    --card: 235 60% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 235 60% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 168 74% 64%;
    --primary-foreground: 235 66% 14%;
    --secondary: 168 74% 64%;
    --secondary-foreground: 235 66% 14%;
    --muted: 235 50% 22%;
    --muted-foreground: 168 30% 80%;
    --accent: 168 60% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 40% 30%;
    --input: 235 40% 30%;
    --ring: 168 74% 64%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 235 66% 14%;
    --foreground: 0 0% 98%;
    --card: 235 60% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 235 60% 18%;
    --popover-foreground: 0 0% 98%;
    --primary: 168 74% 64%;
    --primary-foreground: 235 66% 14%;
    --secondary: 168 74% 64%;
    --secondary-foreground: 235 66% 14%;
    --muted: 235 50% 22%;
    --muted-foreground: 168 30% 80%;
    --accent: 168 60% 30%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 235 40% 30%;
    --input: 235 40% 30%;
    --ring: 168 74% 64%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}